# Week3 Logistic Regression - Categories

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# download data
# data = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
# !wget $data

In [3]:
# read data
df = pd.read_csv("data.csv")
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [4]:
df.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [5]:
# only choose certain columns

selected_df  = df[
    ["Make",
    "Model",
    "Year",
    "Engine HP",
    "Engine Cylinders",
    "Transmission Type",
    "Vehicle Style",
    "highway MPG",
    "city mpg",
    "MSRP"]
].copy()
selected_df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [6]:
# format the data
selected_df.columns = selected_df.columns.str.replace(" ", "_").str.lower()
selected_df_columns = list(selected_df.dtypes.index)
selected_df_columns

['make',
 'model',
 'year',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'vehicle_style',
 'highway_mpg',
 'city_mpg',
 'msrp']

In [7]:
for c in selected_df_columns:
    if selected_df[c].dtype == "object":
        selected_df[c] = selected_df[c].str.lower().str.replace(" ", "_")
    
selected_df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500

In [8]:
# rename msrp to price
selected_df = selected_df.rename(columns={"msrp": "price"})
selected_df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995

In [9]:
selected_df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [10]:
# Fill in the missing values of the selected features with 0
selected_df.fillna(0, inplace=True)

In [11]:
selected_df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [12]:
#Q1 What is the most frequent observation (mode) for the column transmission_type?
selected_df["transmission_type"].mode()

0    automatic
Name: transmission_type, dtype: object

In [14]:
# turn the price variable from numeric into a binary format
selected_df["above_average"] = (selected_df.price > selected_df["price"].mean()).astype(int)
selected_df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135,1
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650,1
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350,0
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450,0
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120,1
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670,1
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620,1
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920,1
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995,0

In [15]:
# set up the validation framework
from sklearn.model_selection import train_test_split

selected_df_full_train, selected_df_test = train_test_split(selected_df, test_size=0.2, random_state=42)
selected_df_train, selected_df_val = train_test_split(selected_df_full_train, test_size=0.25, random_state=42)

In [16]:
len(selected_df_train), len(selected_df_val), len(selected_df_test)

(7148, 2383, 2383)

In [17]:
selected_df_train = selected_df_train.reset_index(drop=True)
selected_df_val = selected_df_val.reset_index(drop=True)
selected_df_test = selected_df_test.reset_index(drop=True)

In [18]:
y_train = selected_df_train["above_average"].values
y_val = selected_df_val["above_average"].values
y_test = selected_df_test["above_average"].values

del selected_df_train["price"]
del selected_df_val["price"]
del selected_df_test["price"]
del selected_df_train["above_average"]
del selected_df_val["above_average"]
del selected_df_test["above_average"]

In [19]:
selected_df_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,mitsubishi,endeavor,2011,225.0,6.0,automatic,4dr_suv,19,15
1,kia,borrego,2009,276.0,6.0,automatic,4dr_suv,21,17
2,lamborghini,gallardo,2012,570.0,10.0,manual,convertible,20,12
3,chevrolet,colorado,2016,200.0,4.0,automatic,crew_cab_pickup,27,20
4,pontiac,vibe,2009,158.0,4.0,automatic,4dr_hatchback,26,20
...,...,...,...,...,...,...,...,...,...
7143,toyota,sienna,2016,266.0,6.0,automatic,passenger_minivan,25,18
7144,chevrolet,hhr,2009,260.0,4.0,manual,wagon,29,21
7145,hyundai,veracruz,2012,260.0,6.0,automatic,4dr_suv,22,17
7146,mitsubishi,expo,1993,136.0,4.0,manual,2dr_hatchback,26,19
7147,ford,taurus,2015,365.0,6.0,automatic,sedan,25,17

Q2 What are the two features that have the biggest correlation in this dataset?

engine_hp and year
engine_hp and engine_cylinders
highway_mpg and engine_cylinders
highway_mpg and city_mpg

In [21]:
# correlation engine_hp and year
selected_df_train["engine_hp"].corr(selected_df_train["year"])

0.3345455568164391

In [22]:
# correlation engine_hp and engine_cylinders
selected_df_train["engine_hp"].corr(selected_df_train["engine_cylinders"])

0.7819780299482815

In [23]:
# correlation highway_mpg and engine_cylinders
selected_df_train["highway_mpg"].corr(selected_df_train["engine_cylinders"])

-0.595856440686465

In [24]:
# correlation highway_mpg and city_mpg
selected_df_train["highway_mpg"].corr(selected_df_train["city_mpg"])

0.8525891672814325

In [25]:
selected_df_train.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
dtype: object

In [30]:
categorical = list(selected_df_train.dtypes[selected_df_train.dtypes == "object"].index)
selected_df_train[categorical].nunique()

make                  48
model                869
transmission_type      5
vehicle_style         16
dtype: int64

In [36]:
# Q3 Which of these variables has the lowest mutual information score?
from sklearn.metrics import mutual_info_score

for c in categorical:
    score = mutual_info_score(selected_df_train[c], y_train)
    print(f"mutual inofrmation score between '{c}' and 'above_average': {round(score, 2)}")

mutual inofrmation score between 'make' and 'above_average': 0.24
mutual inofrmation score between 'model' and 'above_average': 0.46
mutual inofrmation score between 'transmission_type' and 'above_average': 0.02
mutual inofrmation score between 'vehicle_style' and 'above_average': 0.08